* {
  color: white;
}

body {
  background-color: rgb(66, 66, 66);
  min-width: 300px;
  min-height: 300px;
  text-align: center;
}
h1 {
  color: white;
}
#powerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  transition: width 0.2s;
}
#openButton {
  margin-top: 40px;
  padding: 5px;
  background-color: #d3d3d3ab;
  color: black;
  border: 1px solid #0044ff;
  border-radius: 8px;
  transition: padding 0.2s;
}

#powerButton:hover {
  cursor: pointer;
  width: 31%;
}

#openButton:hover {
  background-color: #0044ff;
  color: white;
  cursor: pointer;
  padding: 7px;
}

.slideContainer {
  margin-top: 40px;
}

#brightnessSlider {
  appearance: none;
  height: 5%;
  width: 40%;
  border-radius: 5px;
  background: #d3d3d3ab;
  outline: none;
  border: 1px solid #0044ff;
  transition: width 0.2s;
}

#brightnessSlider:hover {
  width: 45%;
}

#brightnessSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0044ff;
  opacity: 0.5;
  transition: opacity 0.2s;
}

#brightnessSlider:hover::-webkit-slider-thumb {
  opacity: 1;
}
